<nav>
    <div id="left-side">
        <span (click)="this.router.navigate(['/'])">
            <img src="/assets/images/logos/cross-and-crescent.png" alt="Lambda Chi Alpha Cross and Crescent" class="nav__logo">
        </span>
        <span class="login_link">
            <!--
            Login button - disabled for now because how this was handled before is no longer relevant
            -->

            <!--
            <button mat-raised-button *ngIf="isLoginVisible()" (click)="showLogin()">Log In</button>
            <button mat-raised-button *ngIf="!isLoginVisible()" (click)="logOut()">Log Out</button>
            -->
        </span>
    </div>
    <div class="header-text float-right">&Lambda;&Chi;&Alpha; Baldwin Wallace Student Directory</div>
</nav>
